#formContent{
    display: flex;
    justify-content: center;
    width: 70%
    margin: 0 auto;
    border: 1px purple;
}

.login-image{

}
input[type="text"]{
    height: 20px;
    width: 150px;
    border: 1px sky blue;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}

th, td, tr{
    text-align: center;
}